.title_nav_container {
  padding-top: 60px;
  padding-bottom: 60px;
  margin-top: 0px;
  display: block;
}

.body_container {
  display: inline-block;
  justify-content: center;
}

.page_title {
  /*color: #5a6fa7;*/
  background-color: #5a6fa7;
  color: white;
  letter-spacing: 3px;
  font-size: 80px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: top;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
  margin: auto;
}

.day_link {
  /*color: #f29e4c;*/
  color: white;
  font-size: 12px;
  font-weight: bold;
  display: inline-flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 5px;
}

span.learn_and_play {
  background-color: #dda3ec;
}

span.closed_to_public {
  background-color: #da68f7;
}

span.spray_and_swap {
  background-color: #fa98a4;
}

span.prop_swap {
  background-color: #a6cf9f;
}

span.wipe_down {
  background-color: #a3b5e6;
}

div.unknown {
  background-color: #ff0000;
  font-size: 12px;
}

.weekly_schedule {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 10px;
  row-gap: 10px;
  grid-gap: 30px;
}

.day {
  background-color: #5a6fa7;
  z-index: 0;
  display: grid;
  grid-template-columns: 20px 1fr;
  padding-top: 0px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.day_title {
    color: white;
    font-size: 32px;
    margin-bottom: 5px;
    margin-top: 0px;
    padding: 0px;
    grid-column-start: 1;
    grid-column-end: 3;
}

.assigned_to {
  grid-column-start: 1;
  grid-column-end: 2;
  color: white;
  margin-top: auto;
  margin-bottom: auto;
}

.event_row {
  padding: 0px 4px 0px 4px;
  margin: 1px 0px 1px 0px;
  font-size: 24px;
  grid-column-start: 2;
  grid-column-end: 3;
}

#Monday {
  grid-row-start: 1;
  grid-column-start: 1;
}

#Tuesday {
  grid-row-start: 2;
  grid-column-start: 1;
}

#Wednesday {
  grid-row-start: 3;
  grid-column-start: 1;
}

#Thursday {
  grid-row-start: 4;
  grid-column-start: 1;
}

#Notes {
  grid-row-start: 1;
  grid-column-start: 2;
  margin: auto;
  padding:0;
}

#Friday {
  grid-row-start: 2;
  grid-column-start: 2;
}

#Saturday {
  grid-row-start: 3;
  grid-column-start: 2;
}

#Sunday {
  grid-row-start: 4;
  grid-column-start: 2;
}

.text_container {
  align-items: top;
  justify-content: left;
  display: block;
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row-start: 1;
  /*background-color: lightyellow;*/
  z-index: 1;
}

.event_task {
  border: 2px;
  border-color: black;
}

.task_icon {
  align-self: center;
  width: 25px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  padding-left: 5px;
}

body {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
