<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.weekday }}</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <div class="body_container">
        <div class="title_nav_container">
            <div class="page_title">{{ page.weekday }}</div>
            <div class="nav_container">
                <a class="day_link" href="/sked/monday">Monday</a>
                <a class="day_link" href="/sked/tuesday">Tuesday</a>
                <a class="day_link" href="/sked/wednesday">Wednesday</a>
                <a class="day_link" href="/sked/thursday">Thursday</a>
                <a class="day_link" href="/sked/friday">Friday</a>
                <a class="day_link" href="/sked/weekend">Weekend</a>
            </div>
        </div>
        <br>
        <div class="schedule" style="grid-template-rows: repeat({{site.data.context.num_rows}}, 3.2em);">
            {% for item in site.data.time_list %}
            <div class="time" style="grid-row-start: {{ item.first }}; grid-column-start: 1;">
                {{ item.last | date: '%H:%M' }}
            </div>
            {% endfor %} 
            {% for item in site.data.hour_rows %}
            <div class="hour"
                style="grid-row-start: {{ item.first }}; grid-row-end: span 4; grid-column-start:1; grid-column-end: span 4;">
            </div>
            {% endfor %}
            {% assign day_events = site.data.events | where: "weekday", page.weekday %}
            {% for ev in day_events %}
            <div class="item {{ ev.class }}"
                style="grid-row: {{ ev.start_row }} / {{ ev.end_row }}; grid-column-start: {{ ev.row }}; {% if ev.task == "Prop Swap Only" %} grid-column-end: span 2; {% endif %}">
                <div class="text_container">
                    <span class="event_time">{{ev.start_string | slice: 1, 5}} to {{ev.end_string| slice: 1, 5}}</span>
                    {% if ev.task != "Prop Swap Only" %}
                    <br />
                    {% endif %}
                    <span class="event_location">{{ ev.location }}:</span>
                    {% if ev.task != "Prop Swap Only" %}
                    <!-- <br /> -->
                    {% endif %}
                    <span class="event_task">{{ev.task}}</span>
                </div>
                <div class="img_container"
                    style="{% if ev.task == "Prop Swap Only" %} grid-column-start: 4; grid-row-start: 1;{% else %} grid-column-start: 1; grid-column-end: 5; grid-row-start:2;{% endif %}">
                    {% for src in ev.icons %}
                    <img class="task_icon" src="/sked/assets/{{ src }}" alt="{{ src }}" />
                    {% if ev.task != "Prop Swap Only" %}
                    <br />
                    {% endif %}
                    {% endfor %}
                </div>
            </div>
            {% endfor %}
        </div>
    </div>



</body>

</html>