<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.weekday }}</title>
    <link rel="stylesheet" href="styles.css?version=59">
    <link rel="apple-touch-icon" href="/sked/assets/apple-touch-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon.png">-->
    <link rel="icon" type="image/png" sizes="32x32" href="/sked/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/sked/favicon-16x16.png">
    <link rel="manifest" href="/sked/site.webmanifest">
    <link rel="mask-icon" href="/sked/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    <script>
        function showToday() {
            let weekdays = ['Sunday','Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday']
            var d = new Date();
            var n = d.getDay();
            var today = weekdays[n];
            //var today = 'Sunday';
            //document.getElementById("page_title").innerHTML = today;
            document.getElementById("today_is").innerHTML = ((today == "Weekend") ? "Welcome to the weekend!" : ("Today is " + today + "."));
            
            for(var j = 0; j < weekdays.length; j++) {
                var divsToHide = document.getElementsByClassName(weekdays[j]); //divsToHide is an array
                for(var i = 0; i < divsToHide.length; i++){
                    //divsToHide[i].style.visibility = "hidden"; // or
                    divsToHide[i].style.display = "none"; // depending on what you're doing
                }
            }
            var divsToShow = document.getElementsByClassName(today); //divsToHide is an array
            var number_of_props_to_pull = 0;
            for(var i = 0; i < divsToShow.length; i++){
                //divsToShow[i].style.visibility = "hidden"; // or
                if (divsToShow[i].nodeName == "DIV") {
                    divsToShow[i].style.display = "grid";
                } else {
                    divsToShow[i].style.display = "table-row";
                    number_of_props_to_pull++;
                }
                
            }

            var table_of_props = document.getElementById('prop_table');
            if (number_of_props_to_pull == 0) {
                table_of_props.style.display = "none";
            }
        }
    </script>
</head>

<body onload="showToday()">
    <div class="body_container">
        <div class="title_nav_container">
            <div class="page_title" id="page_title">Today</div>
            <div class="today_is" id="today_is"></div>
            <div class="nav_container">
                <a class="day_link" href="/sked/monday">Monday</a>
                <a class="day_link" href="/sked/tuesday">Tuesday</a>
                <a class="day_link" href="/sked/wednesday">Wednesday</a>
                <a class="day_link" href="/sked/thursday">Thursday</a>
                <a class="day_link" href="/sked/friday">Friday</a>
                <a class="day_link" href="/sked/saturday">Saturday</a>
                <a class="day_link" href="/sked/sunday">Sunday</a>
                <!--<a class="day_link" href="/sked/hard">Hard Props</a>-->
            </div>
        </div>
        <br>
        <div class="schedule" style=
                "grid-template-rows: repeat({{site.data.context.num_rows}}, 3.2em); 
                {% if page.weekday == 'Saturday' or page.weekday == 'Sunday' %}
                grid-template-columns: 30px 0px repeat(2, 1fr);
                {% else %}
                grid-template-columns: 30px repeat(3, 1fr);
                {% endif %}
                ">
            {% for item in site.data.time_list %}
            <div class="time" style="grid-row-start: {{ item.first }}; grid-column-start: 1;">
                {{ item.last | date: '%-I:%M' }}
            </div>
            {% endfor %} 
            {% for item in site.data.hour_rows %}
            <div class="hour"
                style="grid-row-start: {{ item.first }}; grid-row-end: span 4; grid-column-start:1; grid-column-end: span 4;">
            </div>
            {% endfor %}
            {% assign day_events = site.data.events %}
            {% for ev in day_events %}
            <div class="item {{ ev.class }} {{ ev.weekday }}"
                style="grid-row: {{ ev.start_row }} / {{ ev.end_row }}; grid-column-start: {{ ev.col_start }}; grid-column-end: {{ ev.col_end }}; ">
                <div class="text_container">
                    <!--<span class="event_time">{{ev.start_string | slice: 1, 5}} to {{ev.end_string| slice: 1, 5}}</span>-->
                    <span class="event_time">{{ev.time_range}}</span>
                    {% if ev.task != "Swap" %}
                    <br />
                    {% endif %}
                    <span class="event_location">{% if ev.long_location %}{{ ev.long_location }}:</span>{% else %}{{ ev.location }}:</span>{% endif %}
                    
                    {% if ev.task != "Swap" %}
                    <!-- <br /> -->
                    {% endif %}
                    <span class="event_task">{{ev.task}}</span>
                </div>
                <!--<div class="img_container"
                    style="{% if ev.task == "Swap" %} grid-column-start: 4; grid-row-start: 1;{% else %} grid-column-start: 1; grid-column-end: 5; grid-row-start:2;{% endif %}">
                    {% for src in ev.icons %}
                    <img class="task_icon" src="/sked/assets/{{ src }}" alt="{{ src }}" />
                    {% if ev.task != "Swap" %}
                    <br />
                    {% endif %}
                    {% endfor %}
                </div>-->
            </div>
            {% endfor %}
        </div>


        {% assign all_props=site.data.hard_prop %}
        <!--
        <table class="hard_prop_table" id="prop_table">
            <caption class="hard_prop_table_caption">Pull at end of day:</caption>
            <thead>
                <th>Gallery</th><th>Area</th><th>Item</th><th>Tray</th>
            </thead>
            <tbody>
            {% for row in all_props %}
                <tr class={{ row["Day"] }} prop>
                <td>{{ row["Gallery"] }}</td>
                <td>{{ row["Area"] }}</td>
                <td>{{ row["Item"] }}</td>
                <td>{{ row["Tray"] }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        -->
        <div class="prop_group_table">
            <div class="prop_group" style="grid-row-start: 2; grid-column-start: 1;">
                <div class="prop_group_title">Downstairs</div>
                <ul>
                    <li>Around Town
                        <ul>
                            <li>Soft props only</li>
                    </li>
                    <li>Splash</li>
                    <ul>
                        <li>Seedlings Rocks & Pots</li>
                        <li>Sub Hard & Soft Props</li>
                        <li>Plush Animals</li>
                        <li>Costumes</li>
                    </ul>
                    <li>Kids Way</li>
                    <ul>
                        <li>Sjolbak</li>
                        <li>Mancala</li>
                        <li>Checkers</li>
                        <li>Connect 4</li>
                        <li>Kerplunk Balls</li>
                    </ul>
                    <li>Toddlers Hollow</li>
                </ul>
            </div>
            <div class="prop_group" style="grid-row-start: 2; grid-column-start: 2;">
                <div class="prop_group_title">Upstairs</div>
                <ul>
                    <li>Hit The Trail</li>
                    <ul>
                        <li>Plush Animals</li>
                        <li>Costumes</li>
                        <li>Cookware</li>
                    </ul>
                    <li>Kid Grid Vests & Buckets</li>
                    <li>STEMosphere</li>
                    <ul>
                        <li>Bridge Duplos</li>
                        <li>Magnet Toys</li>
                        <li>Parachutes</li>
                        <li>Tower Discs</li>
                    </ul>
                    <li>Power2Play</li>
                    <ul>
                        <li>Costumes</li>
                        <li>Food</li>
                        <li>Blender Jars</li>
                        <li>Salad Spinners</li>
                        <li>Dishes & Cookware</li>
                    </ul>
                    <li>Art Loft Aprons</li>
                    <li>Go Zone Kinex</li>
                    <li>Moneypalooza</li>
                </ul>
            </div>
        </div>



</body>

</html>