<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <title>Weekly Schedule</title>
    <link rel="stylesheet" href="weekly_styles.css?version=97">
    <link rel="apple-touch-icon" href="/sked/assets/apple-touch-icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="icon" type="image/png" sizes="32x32" href="/sked/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/sked/favicon-16x16.png">
    <link rel="manifest" href="/sked/site.webmanifest">
    <link rel="mask-icon" href="/sked/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
</head>

<body>
    <div class="body_container" style="width: 100%;">

        <div class="title_nav_container">
            <div class="page_title">Cleaning Schedule 1/9 - 1/17</div>
        </div>

        <div class="weekly_schedule">
            {% assign weekdays = "Monday|Tuesday|Wednesday|Thursday|Friday|Saturday|Sunday" | split: "|" %}
            {% for day in weekdays %}
                <div class="day" id="{{ day }}">
                    <div class="day_title">{{ day }}</div>
                    {% assign day_events = site.data.events | where: "weekday", day | sort: "start" %}
                    {% for ev in day_events %}
                    <span class="event_row {{ ev.class }}">
                        <span class="event_time">{{ev.time_range}}</span>
                        <span class="event_location">{% if ev.long_location %}{{ ev.long_location }}:</span>{% else %}{{ ev.location }}:</span>{% endif %}
                        <span class="event_task">{{ev.task}}</span>
                    </span>
                    
                    {% endfor %}
                </div>
            {% endfor %}
            <div id="Notes">
                <div class="day_title"></div>
                <a href="http://m.arbl.es/cleaning"><img src="https://unicycledumptruck.github.io/sked/assets/qr.png" ></a>
            </div>
        </div>





    </div>
</body>

</html>